---
import BlogCard from "../BlogCard.astro";

const posts = await Astro.glob("../../content/blog/*.md");

posts.sort(function (a: any, b: any) {
  return (
    new Date(b.frontmatter.publushedAt).valueOf() - new Date(a.frontmatter.modifiedAt).valueOf()
  );
});
---

<div class="py-12 md:py-24 dunes-left">
  <div class="content-wrapper">
    <div class="content">
      <div class="section-heading">Blog</div>
      <h2 class="section-title">Featured articles</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pb-24">
        <BlogCard article={posts[0]} />
        <BlogCard article={posts[1]} />
        <BlogCard article={posts[2]} />
      </div>
    </div>
  </div>
</div>
