---
const { data } = Astro.props;
---

<div id="features" class="py-12 md:py-24 dunes-right">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-black text-center text-base md:text-2xl">Features</div>
      <h2 class="font-interBold text-black text-2xl md:text-6xl text-center pt-6 pb-12 md:pb-24">
        {data.title}
      </h2>
    </div>
  </div>
</div>
