---
const { data } = Astro.props;
---

<div class="py-24 dunes-right">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Features</div>
      <h2 class="font-interBold text-6xl text-center pt-6 pb-24">
        {data.title}
      </h2>
    </div>
  </div>
</div>
