---
const { data } = Astro.props;
---

<div class="py-12 md:py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold tewxt-black text-center text-base md:text-2xll">How it works</div>
      <h2 class="font-interBold tewxt-black text-2xl md:text-6xl text-center pt-6 pb-12 md:pb-24">
        {data.title}
      </h2>
      <div class="flex justify-center">Image</div>
    </div>
  </div>
</div>
