---
import HowItWorks from "../../assets/svg/how-it-works.svg";
const { data } = Astro.props;
---

<div id="howitworks" class="py-12 md:py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="section-heading">{data.heading}</div>
      <h2 class="section-title">
        {data.title}
      </h2>
      <img src={HowItWorks.src} alt="" />
    </div>
  </div>
</div>
