---
import RequestDemoForm from "../RequestDemoForm.astro";
const { data } = Astro.props;
---

<div id="demo" class="pt-12 pb-24 md:pt-24 md:pb-48 dunes-right">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-black text-center text-base md:text-2xl">
        Request free demo
      </div>
      <h2 class="font-interBold text-black text-2xl md:text-6xl text-center pt-6 pb-12 md:pb-24">
        {data.title}
      </h2>

      <div class="max-w-3xl mx-auto border-2 border-black p-6 md:p-12 rounded-lg mg-12 md:mb-24">
        <RequestDemoForm formId="requesttwo" buttonText={data.buttonText} />
      </div>
    </div>
  </div>
</div>

<style lang="less"></style>
