---
import Layout from "../layouts/Layout.astro";
import {marked} from "marked";
import * as page from "../content/site/Privacy.md";
---

<Layout pageContent={page}>
  <div class="py-24 dunes-right">
    <div class="content-wrapper">
      <div class="content">
        <h2 class="section-title">{page.frontmatter.title}</h2>
        <div class="" set:html={marked.parse(page.frontmatter.body)} />
      </div>
    </div>
  </div>
</Layout>
