---
import BlogCard from './BlogCard.astro'
---

<div class="bg-green-light py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Blog</div>
      <h2 class="font-interBold text-6xl text-center py-12">Featured articles</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <BlogCard />
        <BlogCard />
        <BlogCard />
      </div>
    </div>
  </div>
</div>
