---
import BlogCard from "./BlogCard.astro";
---

<div class="pb-48 wave-sand">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Blog</div>
      <h2 class="font-interBold text-6xl text-center py-12">
        Featured articles
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <BlogCard />
        <BlogCard />
        <BlogCard />
      </div>
    </div>
  </div>
</div>

<style lang="less">
  .wave {
    overflow: hidden;
    background-image: url("../assets/svg/wave.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 1440px;
    margin: 0 auto;
  }
</style>
