---
---

<div class="bg-desert-medium py-24">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Features</div>
      <h2 class="font-interBold text-6xl text-center py-12">
        Retrieve failed tag data and get the metrics you need to succeed
      </h2>
    </div>
  </div>
</div>
