---
import PricingCard from "./PricingCard.astro";
const { pricing } = Astro.props;
---

<div class="dunes">
  <div class="content-wrapper">
    <div class="content pb-20">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center">
          <h2 class="font-interBold text-6xl text-center py-12">Pricing</h2>
        </div>
        <div class="flex flex-col md:flex-row justify-center items-center" style="height:800px;">
          <!-- Pricing Card -->
          <div
            class="price-card border md:border-0 md:border-t-2 md:border-b-2 md:border-l-2 rounded-xl md:rounded-none md:rounded-tl-xl md:rounded-bl-xl"
          >
            <PricingCard planType="free" plans={pricing.plans} />
          </div>
          <div class="price-card h-full border-2 rounded-xl">
            <PricingCard planType="professional" plans={pricing.plans} />
          </div>
          <div
            class="price-card border md:border-0 md:border-t-2 md:border-b-2 md:border-r-2 rounded-xl md:rounded-none md:rounded-tr-xl md:rounded-br-xl"
          >
            <PricingCard planType="enterprice" plans={pricing.plans} />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="less">
  .price-card {
    @apply flex w-full flex-col p-6 mx-auto max-w-lg  text-center text-gray-900 bg-desert-medium border-dark-gray shadow-lg mb-6 md:mb-0;
  }
</style>
