---
---

<div class="bg-green-light pt-24 pb-48 wave">
  <div class="content-wrapper">
    <div class="content">
      <div class="font-interBold text-center text-2xl">Request free demo</div>
      <h2 class="font-interBold text-6xl text-center py-12">
        Your feedback is important. Get in early and secure your spot.
      </h2>
    </div>
  </div>
</div>

<style lang="less">
  .wave {
    overflow: hidden;
    background-image: url('../assets/svg/wave.svg');
    background-color: linear-gradient(180deg, #fffdf8, #93ffd2);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 1440px;
    margin: 0 auto;
  }
  .grad {
    background-color: linear-gradient(180deg, #fffdf8, #93ffd2);
  }
</style>
