---
---

<div class="grid marker:grid-cols-1 md:grid-cols-2 gap-4">
  <div class="text-center">
    <input
      type="text"
      name="email"
      class="formInput border-2 bg-gray-50 border-dark-gray text-gray-900 rounded-lg block w-full p-2.5 font-interRegular text-2xl"
      placeholder="Email adress"
    />
  </div>
  <button
    class="text-center bg-black text-white rounded-lg flex justify-center items-center font-interBold text-2xl"
  >
    Request a free demo
  </button>
</div>
