---
const { buttonText } = Astro.props;
---

<button
  class={"signup-button button rounded  flex justify-center items-center text-white text-sm bg-dark-gray"}
  onclick="SignUpOverlayOpenHeader()"
>
  {buttonText}
</button>

<script lang="ts">
function SignUpOverlayOpenHeader() {
  const signUpOverlay = document.getElementById("signup-overlay");
  signUpOverlay ? (signUpOverlay.style.display = "block") : null;

  const body = document.querySelector("body");
  body.classList.add("overflow-hidden");

  localStorage.setItem("plan", null);

  const storageEvent = new StorageEvent("storage", {
    key: "plan",
    newValue: null,
  });
  window.dispatchEvent(storageEvent);
}
</script>

<style lang="less">
  .button {
    width: 74px;
    height: 32px;
  }
</style>
