---
const { buttonText } = Astro.props
---

<a href="https://minasidor.enklare.se" target="_blank" rel="noopener noreferrer">
  <button
    class={'sign-up-button button rounded  flex justify-center items-center text-white text-sm bg-dark-gray'}
  >
    {buttonText}
  </button></a
>

<style lang="less">
  .button {
    width: 74px;
    height: 32px;
    @media screen and (max-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
</style>
