---
import { platform } from 'os'
const platforms = await Astro.glob('../assets/svg/platforms/*.svg')
---

<div class="bg-dester-medium border-b">
  <div class="content bg-green-light text-center font-interSemibold py-3">Supported Platforms</div>
  <div class="content-wrapper">
    <div class="content inner">
      <div class="flex justify-around">
        {
          platforms.map((platform) => {
            return (
              <div class="flex flex-col items-center justify-center">
                <img src={platform.default.src} width="158" height="80" />
              </div>
            )
          })
        }
      </div>
    </div>
  </div>
</div>
